<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/avatar/avatar.css">
    <link rel="stylesheet" href="/components/Badges/Badges.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Blossom UI/ Avatars</title>
</head>

<body>
    <div class="avatar">
        
            <div class="flex">
                <div class="round-avatar-img">
                    <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="md-rounded-avatar" />
                </div>
                <div class="red-badge avatar-badge"></div>
            </div>
        <div class="flex">
            <div class="round-avatar-img">
                <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="md-rounded-avatar" />
            </div>
            <div class="green-badge avatar-badge"></div>
            
        </div>
    </div>

        <div class="icon flex">
            <div class="shopping-cart flex">
                <ion-icon name="cart"></ion-icon>
                <div class="icon-badge badge"> 4 </div>
            </div>
            <div class="home flex">
                <ion-icon name="home"></ion-icon>
                <div class="home-icon-badge badge"> new </div>
            </div>
        </div>
        
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

</body>

</html>