<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/avatar/avatar.css">
    <link rel="stylesheet" href="/components/Badges/Badges.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/b7871e7930.js" crossorigin="anonymous"></script>

    <title>Blossom UI/ Avatars</title>
</head>

<body>
    <div class="avatar">
        <div class="round-avatar">
            <div class="round-avatar-img">
                <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="md-rounded-avatar" />
            </div>
        </div>
        <div class="red-badge avatar-badge"></div>
        
        <div class="round-avatar">
            <div class="round-avatar-img">
                <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="md-rounded-avatar" />
            </div>
            <div class="green-badge avatar-badge"></div>
            
        </div>
    </div>

        <div class="icon">
            <div class="shopping-cart">
                <i class="fas fa-shopping-cart"></i>
                <div class="icon-badge badge"> 4 </div>
            </div>
            <div class="home">
                <i class="fas fa-home"></i>
                <div class="home-icon-badge badge"> new </div>
            </div>

        </div>
        

</body>

</html>