<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/avatar/avatar.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Blossom UI/ Avatars</title>
</head>

<body>
    <div class="avatar">
        <div class="round-avatar">
            <div class="round-avatar-img">
                <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="sm-rounded-avatar" />
                <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="md-rounded-avatar" />
                <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="lg-rounded-avatar" />
            </div>


            <div class="round-avatar-code">


                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522img-path.jpg%2522%2520alt%253D%2522%2522%2520class%253D%2522sm-rounded-avatar%2522%2520%252F%253E%250A%253Cimg%2520src%253D%2522img-path.jpg%2522%2520alt%253D%2522%2522%2520class%253D%2522md-rounded-avatar%2522%2520%252F%253E%250A%253Cimg%2520src%253D%2522img-path.jpg%2522%2520alt%253D%2522%2522%2520class%253D%2522lg-rounded-avatar%2522%2520%252F%253E"
                    style="width: 665px; height: 265px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
        <div class="square-avatar">

            <div class="square-avatar-img">
                <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="sm-square-avatar" />
                <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="md-square-avatar" />
                <img src="/components/images/avatar-img.jpeg" alt="Guy wearing a hoodie" class="lg-square-avatar" />
            </div>
            <div class="square-avatar-code">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522img-path.jpg%2522%2520alt%253D%2522%2522%2520class%253D%2522sm-square-avatar%2522%2520%252F%253E%250A%253Cimg%2520src%253D%2522img-path.jpg%2522%2520alt%253D%2522%2522%2520class%253D%2522md-square-avatar%2522%2520%252F%253E%250A%253Cimg%2520src%253D%2522img-path.jpg%2522%2520alt%253D%2522%2522%2520class%253D%2522lg-square-avatar%2522%2520%252F%253E"
                    style="width: 639px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>


        </div>
        <div class="text-avatar">
            <div class="text-sizes">
                <p class="sm-text-avatar text"> HS </p>
                <p class="md-text-avatar text"> HS </p>
                <p class="lg-text-avatar text"> HS </p>
    
            </div>
         
           
               
     

            <div class="text-avatar-code">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522sm-text-avatar%2520text%2522%253E%2520HS%2520%253C%252Fp%253E%250A%253Cp%2520class%253D%2522md-text-avatar%2520text%2522%253E%2520HS%2520%253C%252Fp%253E%250A%253Cp%2520class%253D%2522lg-text-avatar%2520text%2522%253E%2520HS%2520%253C%252Fp%253E"
                    style="width: 479px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>



        </div>
    </div>
</body>

</html>