<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main-css/main.css">
    <link rel="stylesheet" href="/components/Toast/toast.css">
    <title> Blossom UI | Toast </title>
</head>
<body>
    <div class="toast">
        <div class="toast-details">
           This is a notification. 
        </div>
        <button class="close-btn"> x </button>
    </div>
</body>
</html>