<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/components/Badges/Badges.css">
    <link rel="stylesheet" href="/components/Navigation/Navigation.css">
    <script src="https://kit.fontawesome.com/b7871e7930.js" crossorigin="anonymous"></script>
    <title>Blossom UI/Navigation </title>
</head>

<body>
    <nav>
        <div>
            <a href=""> <img src="/components/images/Blossom.png" alt="Blossom store" class="logo-imgi"></a>

        </div>
        <div class="nav-center">
            <input class="search-bar" type="text" placeholder="Search here..." />
        </div>
        <div class="right-nav">
            <ul class="nav-items">
                <li class="list-item LogIn-btn">
                    <button class="item primary-btn btn">Log In </button>
                </li>
                <li class="list-item cart">
                    <a class="item" href="">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <p class="icon-badge"> 4 </p>

                </li>
                <li class="list-item favourites">
                    <a class="item" href="">
                        <ion-icon name="heart-outline"></ion-icon>
                    </a>
                    <p class="fav icon-badge"> 9 </p>
                </li>
            </ul>
        </div>

    </nav>
   
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>