<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blossom UI | Lists</title>
    <link rel="stylesheet" href="/main-css/main.css">
    <link rel="stylesheet" href="/components/Lists/Lists.css">
</head>
<body>
    <h1> Lists </h1>
    <h2> Ordered List </h2>
    <ol>
        <li> Item one </li>
        <li> Item two </li>
        <li> Item three </li>
    </ol>
    <h2> Reversed Ordered list </h2>
    <ol reversed>
        <li> Item one </li>
        <li> Item two </li>
        <li> Item three </li>
    </ol>
    <h2> Unordered List (Disc type) </h2>
    <ul class="disc">
        <li> Item one </li>
        <li> Item two </li>
        <li> Item three </li>
    </ul>
    <h2> Unordered List (Circle type) </h2>
    <ul class="circle">
        <li> Item one </li>
        <li> Item two </li>
        <li> Item three </li>
    </ul>
    <h2> Unordered List (Square) </h2>
    <ul class="square">
        <li> Item one </li>
        <li> Item two </li>
        <li> Item three </li>
    </ul>
    <h2> Checkbox Input list  </h2>
    <ul class="checkbox-type">
        <li> <input type="checkbox">  3 Star and above  </li>
        <li> <input type="checkbox">  2 Star and above  </li>
        <li> <input type="checkbox">  1 Star and above  </li>
    </ul>
    <h2> Radio input list </h2>
    <ul class="radio-type">
        <li> <input type="radio">  Price : Low to High  </li>
        <li> <input type="radio">  Price : High to Low  </li>
    </ul>

    <h2> Stacked list (For Notifications)</h2>
    <ul class="stacked-list">
        <li>New Notification </li>
        <li>New Notification </li>
        <li>New Notification </li>
    </ul>
</body>
</html>