<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/main-css/main.css">
    <link rel="stylesheet" href="/components/Rating/rating.css">
   
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title> Blossom UI | Rating </title>
</head>
<body>
    <h1> Ratings </h1>
    <h2> Live Rating </h2>
    <div class="live-ratings">
        <input type="radio" id="star-1" name="live-rating" class="rating" value="5"/> 
        <label for="star-1"><ion-icon class="rating-icon" name="star"></ion-icon></label>
        <input type="radio" id="star-2" name="live-rating" class="rating" value="4"/> 
        <label for="star-2"><ion-icon class="rating-icon" name="star"></ion-icon></label>
        <input type="radio" id="star-3" name="live-rating" class="rating" value="3"/> 
        <label for="star-3"><ion-icon class="rating-icon" name="star"></ion-icon></label>
        <input type="radio" id="star-4" name="live-rating" class="rating" value="2"/> 
        <label for="star-4"><ion-icon class="rating-icon" name="star"></ion-icon></label>
        <input type="radio" id="star-5" name="live-rating" class="rating" value="1"/> 
        <label for="star-5"><ion-icon class="rating-icon" name="star"></ion-icon></label>
    </div>
    <h2> Static rating </h2>
    <div class="static-rating">
        <input type="radio" id="stars-1" name="rating" class="rating" value="5" disabled/> 
        <label for="stars-1"><ion-icon class="rating-icon" name="star"></ion-icon></label>
        <input type="radio" id="stars-2" name="rating" class="rating" value="4" disabled/> 
        <label for="stars-2"><ion-icon class="rating-icon" name="star"></ion-icon></label>
        <input type="radio" id="stars-3" name="rating" class="rating" chekced value="3" checked disabled/> 
        <label for="stars-3"><ion-icon class="rating-icon" name="star"></ion-icon></label>
        <input type="radio" id="stars-4" name="rating" class="rating" value="2" disabled/> 
        <label for="stars-4"><ion-icon class="rating-icon" name="star"></ion-icon></label>
        <input type="radio" id="stars-5" name="rating" class="rating" value="1" disabled/> 
        <label for="stars-5"><ion-icon class="rating-icon" name="star"></ion-icon></label>
    </div>
</body>
</html>