<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main-css/main.css">
    <link rel="stylesheet" href="/components/Modal/Modal.css">
    <title> Blossom UI | Modal</title>
</head>
<body>
    <div class="modal">
        <div class="modal-heading">
            Modal Heading
        </div>
        <div class="about-modal">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sequi dignissimos totam et repudiandae, reprehenderit necessitatibus atque! Facere delectus eaque quod sequi, repudiandae saepe cumque nesciunt, commodi provident laborum dicta!
        </div>
        <div class="modal-buttons">
          <button class="primary-modal-btn btn">
              Save 
          </button>
          <button class="secondary-modal-btn btn">
              Close
          </button>
        </div>
    </div>
</body>
</html>