<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blossom UI/Alerts</title>
    <link rel="stylesheet" href="/styles.css">

    <link rel="stylesheet" href="/components/Alerts/Alerts.css">
</head>
<body>
    
        <div class="simple primary-alert alert">
            <b> Primary! </b> This is primary alert.
        </div>
        <div class="simple success-alert alert">
            <b> Success! </b> This is success alert.
        </div>
        <div class="simple error-alert alert">
            <b> Error! </b> This is Error alert.
        </div>
        <div class="simple warning-alert alert">
            <b> Warning! </b> This is warning alert.
        </div>
        <div class="outline-primary-alert alert">
            <b> Primary </b> This is primary alert.
        </div>
        <div class="outline-success-alert alert">
            <b> success </b> This is success alert.
        </div>
        <div class="outline-error-alert alert">
            <b> Error </b> This is Error alert.
        </div>
        <div class="outline-warning-alert alert">
            <b> Warning </b> This is warning alert.
        </div>
    
</body>
</html>