<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/components/Inputs/input.css">
    <title> Blossom UI/Inputs</title>
</head>
<body class="grid">
    
        <div class="textbox">
           <h3> Write your message here</h3>
            <textarea class="txt-input" type="text" placeholder="Message" ></textarea>
            <button class="primary-btn btn"> Send </button>
        </div>
        <div class="form-inputs">
            <h1> Log In Form </h1>
            <form class="form">
                <input type="email" name="email" class="input" placeholder="Enter your email">
                <input type="password" name="password" class="input" placeholder="Enter password">
                <button class="submit-form-btn primary-btn btn"> Log In </button>
            </form>
        </div>
        <div class="form-inputs">
            <h1> Log In form showing error</h1>
            <form class="form">
    <p class="error-msg"> Error! Enter valid credentials </p>
                <input type="email" name="email" class="input input-error" placeholder="Enter your email">
                <input type="password" name="password" class="input input-error" placeholder="Enter password">
                <button class="primary-btn btn submit-form-btn"> Log In </button>
            </form>
        </div>
    
    
</body>
</html>