.main-section{
    text-align: start;
    height: 100%;
    width: 80%;
   gap: 10%;
    padding: 0 2.5rem;
    flex-direction: row;
}
.section-heading{
font-weight: bold;
padding: 0.5rem;
border-bottom: 1.5px solid var(--black);
}
.side-navbar{
    font-size: var(--text-size-m);
    padding-right: 4.5rem;
    
}
a{
    color: var(--black);
}
.list{
    list-style-type: none;
    padding-top: 1rem;
}
.component{
    padding: 0.5rem;
}
.content{
   
    font-size: calc(var(--text-size-m) - 4px);

}
.content-subsection{
    background-color: var(--white);
    border: 2.5px solid var(--gray);
    border-radius: var(--border-radius-l);
    flex-direction: column;
    margin-bottom: 2.5rem;
    padding: 1.5rem 1.5rem;
}
.para-heading{
    font-size: calc(var(--text-size-m));
    font-weight: bold;
    padding-bottom: 1rem;
}